// Typography
$font-family--serif: "Playfair Display", serif;
$font-family--sans-serif: "Open Sans", sans-serif;
// Colors
$dark-black: #000;
$black: #252525;
$white: #fff;
$brand-color: #bda859;
$gray: #ebebeb;
$dark-gray: #a8a8a8;
// Alternative section styling
$light-blue: #f5f9fa;
// Layout
$vertical-space: 6rem;
$vertical-space--min: 3rem;

// Breakpoints
$max-width: 1500px;
$big-width: 1000px;
$medium-width: 600px;
$small-width: 450px;
$min-width: 320px;

