.header-main {
  padding: 2em 0;

  &__container {
    display: grid;
    grid-template-areas: "logo navigation";
    grid-template-columns: 1fr 7fr;
    align-items: center;
  }

  &__nav {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 7fr 5em 1fr;
    align-items: center;
  }

  &__cart {
    justify-self: center;
    color: $black;
  }

  &__booking {
    justify-self: end;
  }
}
