.welcome-banner {
  display: flex;
  background-color: #dad7d0;
  padding: 4rem 0;

  @include breakpoint($small-width) {
    background-image: url("../images/photos/16.jpg");
    background-size: cover;
    background-position: 60%;
  }

  @include breakpoint($medium-width) {
    font-size: 1.5rem;
    padding-top: 8rem;
  }

  &__container {
    @include breakpoint($small-width) {
      width: 60%;
    }
  }

  &__title {
    font-size: 2.5em;

    @include breakpoint($small-width) {
      font-size: 2em;
    }

    @include breakpoint($big-width) {
      font-size: 2.5em;
      line-height: 1.2;
    }
  }

  &__text {
    margin-bottom: 2.5em;

    @include breakpoint($big-width) {
      font-size: 1em;
      margin-bottom: 2em;
    }
  }
}
